/* .form {
  display: flex;
} */

.github,
.linkedin {
  font-size: 50px;
}

.form-group {
  margin: 20px 50px;
  color: rgb(82, 82, 82);
  width: 25%;
  background-color: #3e5f6159;
  padding-bottom: 10px;
}
label,
.instruction {
  margin-left: 20px;
}
.form-control {
  margin-left: 20px;
  width: 90%;
}

.contact-info {
  padding: 30px;
  background-color: #3e5f6159;
  color: rgb(82, 82, 82);
}

.submit-btn {
  display: flex !important;
  justify-content: center !important;
  margin: 20px !important;
  /* margin-left: 20px !important; */
  background-color: rgb(82, 82, 82) !important;
  border: none;
  color: white !important;
}

.form-control:hover {
  background-color: rgb(82, 82, 82);
  color: white !important;
  transition: 1s;
  border-radius: 5px;
  padding: 5px;
}

@media (max-width: 412px) {
  .form-group {
    width: 75%;
  }
}
