.contact-container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 50px;
  margin-left: 0px;
}

.heading {
  font-weight: bold;
}

.instruction {
  padding-top: 20px;
}

.form {
  margin-right: 50px;
}

.card-body-contact {
  margin-top: 50px;
  margin-left: 15px;
  background-color: white;
  padding: 0px;
  box-shadow: 5px 5px 5px 5px rgb(82, 82, 82);
  border-radius: 5px;
  padding-left: 50px;
  padding-right: 50px;
}

.github,
.linkedin {
  font-size: 25px;
  margin-left: 25px;
}

.contact-icon-container {
  text-align: center;
}

.form-group {
  margin: 20px 50px;
  color: rgb(82, 82, 82);
  background-color: white;
  padding-bottom: 10px;
  box-shadow: 5px 5px 5px 5px rgb(82, 82, 82);
}
label,
.instruction {
  margin-left: 20px;
}
.form-control {
  margin-left: 20px;
  width: 90%;
}

.contact-info {
  padding: 30px;
  background-color: white;
  color: rgb(82, 82, 82);
}

.submit-btn {
  display: flex !important;
  justify-content: center !important;
  margin: 20px !important;
  background-color: rgb(82, 82, 82) !important;
  border: none;
  color: white !important;
}

.form-control:hover {
  background-color: #000f1059;
  color: white !important;
  border-radius: 3px;
  padding: 2px;
}

@media (max-width: 458px) {
  .contact-container {
    display: block;
  }
  .form.card-body-contact {
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 10px;
  }
  .card-body-contact {
    padding-left: 0px;
    padding-right: 0px;
  }
  .github,
  .linkedin {
    margin-left: 10px;
  }
}

@media (min-width: 375px) {
  .card-body-contact {
    margin-top: 100px;
  }
}

@media (min-width: 768px) {
  .card-body-contact {
    margin-top: 200px;
  }
}
