/* .section {
  background: #f3e5f5;
  padding: 20px;
}

.section h2 {
  text-align: center;
} */
/* body {
  color: rgb(82, 82, 82);
} */

.form-group {
  margin: 20px 50px;
  color: rgb(82, 82, 82);
}

.contact-info {
  padding: 30px;
  background-color: #3e5f6159;
  color: rgb(82, 82, 82);
}
/* 
.contact-body {
  background-color: #3e5f6159;
  margin: 20px;
} */
