.custom-nav {
  width: 100%;
  background-color: rgb(82, 82, 82) !important;
  background-size: cover;
  padding-left: 10px !important;
}

.nav-link,
h1 {
  color: white !important;
}

.nav-link {
  font-size: 25px;
}

.navbar-nav {
  margin-left: auto;
  margin-right: 0 !important;
}

.nav-item {
  margin: 0px 15px;
}

.jumbotron-custom {
  /* background-image: url({jumbotronImg}); */
  background-size: cover;
  color: white;
  text-align: center;
}
.custom-hero-text {
  font-weight: bold;
  margin-top: 30px;
}

.naomi-pic {
  width: 90px;
  height: 120px;
  border-radius: 5px;
  box-shadow: 5px 5px 20px rgb(82, 82, 82);
}

a:hover {
  background-color: white;
  color: rgb(82, 82, 82) !important;
  transition: 1s;
  border-radius: 5px;
  padding: 8px;
}

@media (min-width: 768px) {
  .row {
    height: 250px;
  }
  .naomi-pic {
    width: 150px;
    height: 200px;
  }
}
