/* Need to update styling as taken from demo!!! */
h2 {
  padding-bottom: 10px;
  background-color: rgb(82, 82, 82);
  color: white;
}

.wrapper {
  padding-top: 75px;
  background-color: white;
  color: rgb(82, 82, 82);
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 25px;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
}
