h2 {
  padding: 30px;
  background-color: rgb(82, 82, 82);
  color: white;
}

.about {
  padding: 30px;
  background-color: #3e5f6159;
  color: rgb(82, 82, 82);
}

.skills-items {
  width: 25%;
  color: rgb(82, 82, 82);
  padding-top: 20px;
  padding-left: 50px;
}

.listContainer {
  display: flex;
  width: 100%;
  background-color: #3e5f6159;
}

.cardContainer {
  padding: 50px;
  line-height: 2rem;
}

.section {
  background: #f3e5f5;
  padding: 20px;
  line-height: 1.5;
}

.section h2 {
  text-align: center;
}

@media (max-width: 412px) {
  .skills-items {
    width: 100%;
  }
}
