/* Need to update styling as taken from demo!!! */
.wrapper {
  padding-top: 75px;
  background: #3e5f6159;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 25px;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
}
